apiVersion: v1
kind: Service
metadata:
  name: ingress-nginx
  namespace: ingress-nginx
  labels:
    app.kubernetes.io/name: ingress-nginx
    app.kubernetes.io/part-of: ingress-nginx
spec:
  type: LoadBalancer
  loadBalancerIP: {{ k8s_ingress_ip }}
  ports:
{% for ingress_port in k8s_ingress_ports %}
    - name: {{ ingress_port.name }}
      port: {{ ingress_port.port }}
      targetPort: {{ ingress_port.targetPort }}
      protocol: {{ ingress_port.protocol }}
{% endfor %}
  externalTrafficPolicy: Cluster
  selector:
    app.kubernetes.io/name: ingress-nginx
    app.kubernetes.io/part-of: ingress-nginx